#TODO may need to remove this component!
menu "BK_system"

	menu "Mac Config"
		choice BASE_MAC_SRC
			prompt "Select Base Mac Source"
			default NEW_MAC_POLICY

			config BASE_MAC_FROM_EFUSE
				bool "BASE_MAC_FROM_EFUSE"
			config BASE_MAC_FROM_RF_OTP_FLASH
				bool "BASE_MAC_FROM_RF_OTP_FLASH"
			config NEW_MAC_POLICY
				bool "NEW_MAC_POLICY"
			config BASE_MAC_FROM_OTP1
				bool "BASE_MAC_FROM_OTP1"
		endchoice

		config RANDOM_MAC_ADDR
	        bool "Enable Random Mac Addr"
	        default n

		config BK_MAC_ADDR_CHECK
			bool "Enable Beken Mac Addr Check"
			default n

		config CUS_MAC_MASK
			hex "Set Customize Mac Address Mask"
			default 0
	endmenu

	menu "Print Config"
		choice SYSTEM_PRINT_DEVICE
			prompt "System print device"
			default SYS_PRINT_DEV_UART

			config SYS_PRINT_DEV_UART
				bool "System print by uart"

			config SYS_PRINT_DEV_MAILBOX
				bool "System print by mailbox"

			config SYS_PRINT_DEV_NULL
				bool "Close system print"
		endchoice

		config FWD_CMD_TO_CPUx
			depends on MAILBOX
			bool "Forward cpu1/cpu2 cmd by mailbox"
			default y

		config SMP_SYNC_PRINTF
			bool "smp sync printf"
			default n

		config UART_PRINT_BAUD_RATE
			depends on SYS_PRINT_DEV_UART
			int "uart print baud rate"
			default "115200"
	endmenu
endmenu
