menu "PSA Mbedtls"
	config PSA_MBEDTLS
		bool "Enable mbedtls v3.5.2"
		default n

	menu "PSA Mbedtls Options"
		depends on PSA_MBEDTLS

		config PSA_MBEDTLS_TEST
			bool "Enable psa mbedtls test"
			default n
	
		config PSA_CUSTOMIZATION_TZ_L
			bool "Enable adapt customization interface"
			default n
	
		config PSA_CUSTOMIZATION_TEST
			bool "Enable psa customization test"
			default n
	
		config MBEDTLS_SSL_IN_CONTENT_LEN
			int "Config MBEDTLS_SSL_IN_CONTENT_LEN"
			default 4096
	
		config MBEDTLS_SSL_OUT_CONTENT_LEN
			int "Config MBEDTLS_SSL_OUT_CONTENT_LEN"
			default 4096
	
		config TE200_ENTROPY
			bool "Enable TE200 entropy"
			default n
	
		config TRUSTENGINE_TEST
			bool "Enable security engine cli"
			default n

		config TRUSTENGINE
			bool "Enable hardware crypto engine"
			default n

		config SW_CRYPTO
			bool "Enable software crypto"
			default n

		config MBEDTLS_USE_PSA_CRYPTO
			bool "Enable use PSA crypto"
			default n

		config FULL_MBEDTLS
			bool "Enable Full Mbedtls"
			default n

		config MBEDTLS_LOG_LEVEL
			string "Set Mbedtls Log Level"
			default "INFO"
			help
				Set mbedtls log level: OFF/ERROR/WARNING/INFO/DEBUG
	endmenu

endmenu
